.cover__overlay {
    width: 100%;
    background-color: rgba(42, 44, 47, .3);
    transition: background-color .4s linear;
}

.cover__overlay:hover {
    transition: background-color .4s linear;
    background-color: rgba(42, 44, 47, .8);
}